# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# Environment Variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
coverage.xml

# Migrations (optional keep if team project)
**/migrations/*.py
!**/migrations/__init__.py

# Docker
*.pid

# Redis
dump.rdb

# Celery
celerybeat-schedule
celerybeat.pid

# Build Files
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Cache
.cache/
.pyre/
.mypy_cache/

# Uploaded CSV Files
media/csv_uploads/

# Secrets
secrets.json
credentials.json