# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
*.so
.Python

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/

# Media files
media/*
!media/csv_uploads/
!media/csv_uploads/.gitkeep

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/

# =========================
# Cache
# =========================
.cache/
.pyre/
.mypy_cache/

# =========================
# Docker / Runtime
# =========================
*.pid
dump.rdb
celerybeat-schedule
celerybeat.pid

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
logs/

# =========================
# Secrets
# =========================
secrets.json
credentials.json